<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.com.grupopalomino.agachadito">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".URegistroTarjetaActivity"
            android:label="Agregar tarjeta">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UMenuActivity" />
        </activity>
        <activity
            android:name=".RecuperarSesionActivity"
            android:theme="@style/AppThemeNotToolbar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppThemeNotToolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".URegistrarClienteActivity"
            android:label="Registro de Usuario"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".URecuperarPasswordActivity"
            android:label="Recuperar Contraseña"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".VMenuActivity"
            android:theme="@style/AppThemeNotToolbar" />
        <activity android:name=".UMenuActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppThemeNotToolbar" />
    </application>

</manifest>